<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.destiny.biodatanegaraasean">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lambang_asean"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.TentangActivity"></activity>
        <activity android:name=".Activity.ScoreActivity" />
        <activity android:name=".Activity.KuisActivity" />
        <activity android:name=".Activity.DetailActivity" />
        <activity android:name=".Activity.ListAseanActivity" />
        <activity android:name=".Activity.MapsActivity" />
        <activity android:name=".Activity.AseanActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>